/* Esercizio 1 */
.ex-1-square {
  transition: all 2s;
}

.ex-1-square:hover {
  background-color: red;
}

/* Esercizio 2 */
.ex-2-square {
  transition: 2s;
}

.ex-2-square:active {
  width: 100%;
}

/* Esercizio 3 */
.ex-3-square {
  transition: border-radius 1s;
}

.ex-3-square:hover {
  border-radius: 100%;
}

/* Esercizio 4 */
.ex-4-square {
  transition: opacity 1s;
}

.ex-4-square:hover {
  opacity: 0;
}

/* Esercizio 5 */
.ex-5-square {
  transition: all 2s;
}

.ex-5-square:hover {
  transform: scale(2);
}

.ex-5-square:active {
  transform: scale(.5);
}

/* Esercizio 6 */
.ex-6-img {
  filter: grayscale(0);
  transition: all 1s;
}

.ex-6-img:hover {
  filter: grayscale(100%);
}

/* Esercizio 7 */
.ex-7-img {
  transition: 2s;
}

.ex-7-img:hover {
  filter: grayscale(.6) sepia(.4)
} 

/* Esercizio 8 */
.ex-8-img {
  transition: all 2s;
}

.ex-8-img:hover {
  filter: grayscale(.6) sepia(.4);
  border-radius: 20px;
}

/* Esercizio 9 */
.ex-9-img {
  transition: all 2s;
}

.ex-9-img:hover {
  border-radius: 20px;
  filter: grayscale(.6) sepia(.4);
  border-radius: 20px;
  transform: scale(1.5);
}

/* Esercizio 10 */
.ex-10-icon {
  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}

@keyframes rotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* Esercizio 11 */
.ex-11-icon:hover {
  animation: loading 2s linear;
}

@keyframes loading {
  0%{
    transform: rotate(0);
  }
  90%{
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* Esercizio 12 */
.ex-12-button:hover .ex-12-bottom-white {
  animation: moveBtn-bottom 1s linear;
}

.ex-12-button:hover .ex-12-top-white {
  animation: moveBtn-top 1s linear;
}

@keyframes moveBtn-bottom {
  10%{
    right: 20%;
  }
  50%{
    right: 50%;
  }
  100%{
    right: 20%;
  }
}

@keyframes moveBtn-top {
  10%{
    left: 20%;
  }
  50%{
    left: 50%;
  }
  100%{
    left: 20%;
  }
}